# Eclipse 관련 설정 파일
/.settings/
.project
.classpath

# 첨부파일 업로드 샘플 파일
*/notice_upfiles/*
*/board_upfiles/*

# 빌드 결과물
/target/
bin/
/build/
# 로그파일
*.log
*/logs/*

# 운영체제별 불필요 파일
.DS_Store
Thumbs.db
# 환경 변수 설정 파일 (필요시)
pom.xml
*.xml

# Compiled class file
*.class


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


